
<div class="navbar has-shadow">
  <div class="container">
    
    <div class="navbar-brand">
      <a class="navbar-item">felzan</a>
    </div>

    <span class="navbar-burger" (click)="toggleNav = !toggleNav;" [ngClass]="{'is-active': toggleNav}">
      <span></span>
      <span></span>
      <span></span>
    </span>
    
    <div class="navbar-menu" [ngClass]="{'is-active': toggleNav}">
      <div class="navbar-end">
        <a routerLink="/" class="navbar-item r-item">Home</a>
        <a class="navbar-item r-item">About</a>
        <a class="navbar-item r-item">Contact</a>
        <a routerLink="/faq" class="navbar-item r-item">Faq</a>
      </div>

      <div class="navbar-item">
        <p class="control">
          <a href="" class="button is-primary is-outlined">
            <span class="icon">
              <i class="fa fa-download"></i>
            </span>
            <span>
              Join now
            </span>
          </a>
        </p>
      </div>
    </div>
  </div>
</div>

<router-outlet></router-outlet>

<footer class="footer is-primary">
  <div class="container">
    <div class="columns">
      <div class="column">
        <p>Velit soluta sit deleniti maxime.</p>
      </div>
      <div class="column has-text-right">
        <a href="#" class="icon fa fa-facebook"></a>
        <a href="#" class="icon fa fa-twitter"></a>
      </div>
    </div>
  </div>
</footer>