<section class="gero pd">
  <div class="hero body">
    <div class="container">
      <h1 class="title">molestias doloribus iste</h1>
      <div class="is-two-thirds column is-paddingless">
        <h2 class="subtitle is-4">Maiores sed quidem saepe cumque voluptatum vitae totam in. Exercitationem animi eius quia voluptatem reiciendis iusto dolor ut corrupti. In quis voluptatem sequi. Non harum qui cumque illum est minus sint laudantium autem.</h2>
      </div>
      <a class="button is-large is-primary">Learn more</a>
    </div>
  </div>
</section>

<section class="section pd">
  <div class="container">
    <div class="columns">
      <div class="column is-1 has-text-centered">
        <i class="fa fa-cog is-primary"></i>
      </div>
      <div class="column is-one-third">
        <p class="title">eveniet omnis corrupti</p>
      </div>
      <div class="column">
        <p>placeat impedit etdolorem aspernatur quis pariatur</p>
      </div>
    </div>

    <div class="columns pd">
      <div class="column">
        <div class="card">
          <div class="card-content">
            <p class="title">Eius ut pariatur similique necessitatibus ut sint cupiditate temporibus.</p>
            <p class="subtitle">Raquel Dach</p>
          </div>
        </div>
      </div>

      <div class="column">
        <div class="card">
          <div class="card-content">
            <p class="title">Eius ut pariatur similique necessitatibus ut sint cupiditate temporibus.</p>
            <p class="subtitle">Raquel Dach</p>
          </div>
        </div>
      </div>

      <div class="column">
        <div class="card">
          <div class="card-content">
            <p class="title">Eius ut pariatur similique necessitatibus ut sint cupiditate temporibus.</p>
            <p class="subtitle">Raquel Dach</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>